.mainDiv{
    border: 1px solid;
}
.secondDiv{
    display: flex;
    margin-left: 2%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.aniImg{
    width: 38px;
    height: 38px;
    border-radius: 50px;
    
}
.verified{
    width: 15px;
    height: 15px;

}
.reactIcon{
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
    /* width: 12rem; */
}